body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 30px;
    line-height: 1.2;
}

main {
    font-size: 14px
}

.personal-info {
    text-align: center;
    font-size: 14px;
}

h2 {
    font-size: 20px;
    letter-spacing: 7px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: -15px;
}

h3 {
    letter-spacing: 3px;
    border-bottom: 0.5px solid #888989;
    border-top: 0.5px solid #888989;
    text-transform: uppercase;
    column-span: all;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.bold {
    font-weight: bold;
}

.right {
    float: right;
}

.italic {
    font-style: italic;
}

ul {
    column-count: 2;
    column-gap: 40px;
    padding-bottom: 12px;
    margin-left: 1px;
}

li {
    padding-top: 5px;
}