body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
    font-size: 14px
}

.personal-info {
    text-align: center;
    font-size: 14px;
}

h2 {
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    word-spacing: 5px;
}

h3 {
    letter-spacing: 5px;
    border-bottom: 1px solid #888989;
    text-transform: uppercase;
    column-span: all;
}

.bold {
    font-weight: bold;
}

.right {
    float: right;
}

.italic {
    font-style: italic;
}

ul {
    column-count: 2;
    column-gap: 40px;
}