body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
}

main {
    font-size: 1em
}

.personal-info {
    text-align: center;
    font-size: 1em;
}

h2 {
    font-size: 1.4em;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: -15px;
}

h3 {
    letter-spacing: 5px;
    border-bottom: 1px solid #888989;
    border-top: 1px solid #888989;
    text-transform: uppercase;
    column-span: all;
    margin-top: 5px;
    margin-bottom: 3px;
    padding: 20px;
}

.bold {
    font-weight: bold;
}

.right {
    float: right;
}

.italic {
    font-style: italic;
}

ul {
    column-count: 2;
    column-gap: 40px;
    padding-bottom: 12px;
    margin-left: 1px;
}

li {
    padding-top: 5px;
}